<div class="tasks__show">
<p style="color: green"><%= notice %></p>
  <%= render @task %>

  <div>
    <%= link_to "Editar ðŸ–‹ï¸", edit_task_path(@task) , :class => "show__edit__button"%> |
    <%= link_to "Voltar ðŸ”™", tasks_path , :class => "show__back__buttton"%>

    <%= button_to "Apagar essa task ðŸ—‘ï¸", @task, method: :delete , :class => "show__delete__button"%>
  </div>
</div>