<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

<div class="forgot__password__view">
<h2 class="tasks__new__title">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class =>"field__email" %>
  </div>

  <div class="actions">
    <%= f.submit "Me envie as instruções para resetar a senha" , class: "btn btn-secondary bt-lg" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>